In [46]:
# Import Dependencies
import pandas as pd
import numpy as np

In [47]:
# Load CSV files into new DataFrame
hc_expend_vs_gdp = "healthcare-expenditure-vs-gdp.csv"
hc_protection_cov = "health-protection-coverage.csv"
life_expect_vs_hc_expend = "life-expectancy-vs-health-expenditure.csv"
total_hc_expend_gdp = "total-healthcare-expenditure-gdp.csv"

# Read CSV file and store in Pandas DataFrame
hc_expend_vs_gdp_df = pd.read_csv(hc_expend_vs_gdp)
hc_protection_cov_df = pd.read_csv(hc_protection_cov)
life_expect_vs_hc_expend_df = pd.read_csv(life_expect_vs_hc_expend)
total_hc_expend_gdp_df = pd.read_csv(total_hc_expend_gdp)

In [19]:
hc_expend_vs_gdp_df2 = hc_expend_vs_gdp_df.drop(columns="Continent")
hc_expend_vs_gdp_df3 = hc_expend_vs_gdp_df2.dropna(how="any")
hc_expend_vs_gdp_df3

,Entity,Code,Year,"Current health expenditure per capita, PPP (current international $)","GDP per capita, PPP (current international $)",Population (historical estimates)
1,Afghanistan,AFG,2002,81.271034,877.014282,22600774.0
2,Afghanistan,AFG,2003,82.457848,927.857544,23680871.0
3,Afghanistan,AFG,2004,89.470055,925.441406,24726689.0
4,Afghanistan,AFG,2005,100.706985,1023.051758,25654274.0
5,Afghanistan,AFG,2006,113.754105,1077.761597,26433058.0
...,...,...,...,...,...,...
55865,Zimbabwe,ZWE,2015,199.677658,2679.507568,13814642.0
55866,Zimbabwe,ZWE,2016,215.404556,2806.468994,14030338.0
55867,Zimbabwe,ZWE,2017,226.205872,3795.642334,14236599.0
55868,Zimbabwe,ZWE,2018,269.203705,4017.221680,14438812.0
55869,Zimbabwe,ZWE,2019,208.412323,3783.547852,14645473.0

In [4]:
hc_protection_cov_df.head()

,Entity,Code,Year,Share of population covered by health insurance (ILO (2014))
0,Albania,ALB,2008,23.6
1,Algeria,DZA,2005,85.2
2,American Samoa,ASM,2009,3.0
3,Angola,AGO,2010,0.0
4,Antigua and Barbuda,ATG,2007,51.1

In [41]:
hc_protection_cov_df2 = hc_protection_cov_df.drop(columns="Year")
hc_protection_cov_df2

,Entity,Code,Share of population covered by health insurance (ILO (2014))
0,Albania,ALB,23.6
1,Algeria,DZA,85.2
2,American Samoa,ASM,3.0
3,Angola,AGO,0.0
4,Antigua and Barbuda,ATG,51.1
...,...,...,...
157,Venezuela,VEN,100.0
158,Vietnam,VNM,61.0
159,Yemen,YEM,42.0
160,Zambia,ZMB,8.4
161,Zimbabwe,ZWE,1.0

In [5]:
life_expect_vs_hc_expend_df.head()

,Entity,Code,Year,"Life expectancy at birth, total (years)",Health Expenditure and Financing (per capita) (OECDstat (2017)),Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1960,32.445999,NaN,8996967.0,NaN
2,Afghanistan,AFG,1961,32.962002,NaN,9169406.0,NaN
3,Afghanistan,AFG,1962,33.471001,NaN,9351442.0,NaN
4,Afghanistan,AFG,1963,33.971001,NaN,9543200.0,NaN

In [24]:
life_expect_vs_hc_expend_df2 = life_expect_vs_hc_expend_df.drop(columns="Continent")
life_expect_vs_hc_expend_df3 = life_expect_vs_hc_expend_df2.dropna(how="any")
life_expect_vs_hc_expend_df3.count()

Entity                                                             1518
Code                                                               1518
Year                                                               1518
Life expectancy at birth, total (years)                            1518
Health Expenditure and Financing (per capita) (OECDstat (2017))    1518
Population (historical estimates)                                  1518
dtype: int64

In [6]:
total_hc_expend_gdp_df.head()

,Entity,Code,Year,Indicator:Current health expenditure (CHE) as percentage of gross domestic product (GDP) (%)
0,Afghanistan,AFG,2002,9.44
1,Afghanistan,AFG,2003,8.94
2,Afghanistan,AFG,2004,9.81
3,Afghanistan,AFG,2005,9.95
4,Afghanistan,AFG,2006,10.62

In [25]:
total_hc_expend_gdp_df.count()

Entity                                                                                          3974
Code                                                                                            3774
Year                                                                                            3974
Indicator:Current health expenditure (CHE) as percentage of gross domestic product (GDP) (%)    3974
dtype: int64

In [63]:
df = pd.merge(pd.merge(pd.merge(hc_protection_cov_df2,hc_expend_vs_gdp_df3,how="left"),life_expect_vs_hc_expend_df3,how="left"),total_hc_expend_gdp_df,how="left")

TypeError: 'bool' object is not iterable