In [2]:
# Import Dependencies
import pandas as pd
import numpy as np

In [5]:
# Load CSV files into new DataFrame
hc_expend_vs_gdp = "C:/Users/Tyler/Desktop/UoM_Project_4/kaggle_datasets/healthcare-expenditure-vs-gdp.csv"
hc_protection_cov = "C:/Users/Tyler/Desktop/UoM_Project_4/kaggle_datasets/health-protection-coverage.csv"
child_mortality_vs_health_expenditure = "C:/Users/Tyler/Desktop/UoM_Project_4/kaggle_datasets/child-mortality-vs-health-expenditure.csv"
total_hc_expend_gdp = "C:/Users/Tyler/Desktop/UoM_Project_4/kaggle_datasets/total-healthcare-expenditure-gdp.csv"

# Read CSV file and store in Pandas DataFrame
hc_expend_vs_gdp_df = pd.read_csv(hc_expend_vs_gdp)
hc_protection_cov_df = pd.read_csv(hc_protection_cov)
child_mortality_vs_health_expenditure_df = pd.read_csv(child_mortality_vs_health_expenditure)
total_hc_expend_gdp_df = pd.read_csv(total_hc_expend_gdp)

In [6]:
hc_expend_vs_gdp_df2 = hc_expend_vs_gdp_df.drop(columns="Continent")
hc_expend_vs_gdp_df3 = hc_expend_vs_gdp_df2.dropna(how="any")

#cleaned dataframe
hc_expend_vs_gdp_df3

,Entity,Code,Year,"Current health expenditure per capita, PPP (current international $)","GDP per capita, PPP (current international $)",Population (historical estimates)
1,Afghanistan,AFG,2002,81.271034,877.014282,22600774.0
2,Afghanistan,AFG,2003,82.457848,927.857544,23680871.0
3,Afghanistan,AFG,2004,89.470055,925.441406,24726689.0
4,Afghanistan,AFG,2005,100.706985,1023.051758,25654274.0
5,Afghanistan,AFG,2006,113.754105,1077.761597,26433058.0
...,...,...,...,...,...,...
55865,Zimbabwe,ZWE,2015,199.677658,2679.507568,13814642.0
55866,Zimbabwe,ZWE,2016,215.404556,2806.468994,14030338.0
55867,Zimbabwe,ZWE,2017,226.205872,3795.642334,14236599.0
55868,Zimbabwe,ZWE,2018,269.203705,4017.221680,14438812.0
55869,Zimbabwe,ZWE,2019,208.412323,3783.547852,14645473.0

In [7]:
hc_protection_cov_df.head()

,Entity,Code,Year,Share of population covered by health insurance (ILO (2014))
0,Albania,ALB,2008,23.6
1,Algeria,DZA,2005,85.2
2,American Samoa,ASM,2009,3.0
3,Angola,AGO,2010,0.0
4,Antigua and Barbuda,ATG,2007,51.1

In [8]:
hc_protection_cov_df2 = hc_protection_cov_df.drop(columns="Year")

#cleaned dataframe
hc_protection_cov_df2

,Entity,Code,Share of population covered by health insurance (ILO (2014))
0,Albania,ALB,23.6
1,Algeria,DZA,85.2
2,American Samoa,ASM,3.0
3,Angola,AGO,0.0
4,Antigua and Barbuda,ATG,51.1
...,...,...,...
157,Venezuela,VEN,100.0
158,Vietnam,VNM,61.0
159,Yemen,YEM,42.0
160,Zambia,ZMB,8.4
161,Zimbabwe,ZWE,1.0

In [9]:
child_mortality_vs_health_expenditure_df.head()

,Entity,Code,Year,"Mortality rate, under-5 (per 1,000 live births)","Current health expenditure per capita, PPP (current international $)",Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1960,35.820001,NaN,8996967.0,NaN
2,Afghanistan,AFG,1961,35.220001,NaN,9169406.0,NaN
3,Afghanistan,AFG,1962,34.629999,NaN,9351442.0,NaN
4,Afghanistan,AFG,1963,34.060001,NaN,9543200.0,NaN

In [10]:
child_mortality_vs_health_expenditure_df2 = child_mortality_vs_health_expenditure_df.drop(columns="Continent")
child_mortality_vs_health_expenditure_df3 = child_mortality_vs_health_expenditure_df2.dropna(how="any")

#cleaned dataframe
child_mortality_vs_health_expenditure_df3.count()

Entity                                                                  3754
Code                                                                    3754
Year                                                                    3754
Mortality rate, under-5 (per 1,000 live births)                         3754
Current health expenditure per capita, PPP (current international $)    3754
Population (historical estimates)                                       3754
dtype: int64

In [11]:
total_hc_expend_gdp_df.head()

,Entity,Code,Year,Indicator:Current health expenditure (CHE) as percentage of gross domestic product (GDP) (%)
0,Afghanistan,AFG,2002,9.44
1,Afghanistan,AFG,2003,8.94
2,Afghanistan,AFG,2004,9.81
3,Afghanistan,AFG,2005,9.95
4,Afghanistan,AFG,2006,10.62

In [12]:
#cleaned dataframe
total_hc_expend_gdp_df.count()

Entity                                                                                          3974
Code                                                                                            3774
Year                                                                                            3974
Indicator:Current health expenditure (CHE) as percentage of gross domestic product (GDP) (%)    3974
dtype: int64

In [16]:
hc_expend_vs_gdp_df3.to_csv("hc_expend_vs_gdp_df.csv",encoding="utf-8")
hc_protection_cov_df2.to_csv("hc_protection_cov_df.csv",encoding="utf-8")
child_mortality_vs_health_expenditure_df3.to_csv("child_mortality_vs_health_expenditure_df.csv",encoding="utf-8")
total_hc_expend_gdp_df.to_csv("total_hc_expend_gdp_df.csv",encoding="utf-8")